In [1]:
# run this to shorten the data import from the files
import os
path_data = os.path.join(os.path.dirname(os.getcwd()), 'datasets/')

In [5]:
import pandas as pd
basetable = pd.read_csv(path_data+'gifts.csv', index_col=0, parse_dates=['date'], date_format="%Y-%m-%d")
basetable['month'] = basetable.date.dt.month
basetable.head()

   id       date  amount  month
0   1 2015-10-16    75.0     10
1   1 2014-02-11   111.0      2
2   1 2012-03-28    93.0      3
3   1 2013-12-13   113.0     12
4   1 2012-01-10    93.0      1

In [8]:
# exercise 01

"""
Detecting seasonality

Assume you want to predict whether a candidate donor will donate next month. As predictive variables, you want to include variables like mean gift, maximum gift and minimum gift last month. Given is a pandas dataframe gifts with all the donations made in 2017. Check for seasonality in the gifts, to know whether you should take into account seasonality when constructing the basetable.
"""

# Instructions

"""

    Calculate for each "month" the mean gift made by all donors.
    Calculate for each "month" the number of gifts made by all donors.
    Calclulate for each "month" the median of gifts made by all donors.

"""

# solution (Using different table)

# Calculate the mean amount donated per month
mean_per_month = basetable.groupby("month")["amount"].mean().reset_index()
print(mean_per_month)

# Calculate the number of donations per month 
number_per_month = basetable.groupby("month").size().reset_index()
print(number_per_month)

# Calculate the median amount donated per month 
median_per_month = basetable.groupby("month")["amount"].median().reset_index()
print(median_per_month)

#----------------------------------#

# Conclusion

"""
Great! As you can see, people tend to donate more during the holidays.
"""

    month     amount
0       1  92.353911
1       2  92.330656
2       3  92.458460
3       4  92.264746
4       5  93.036250
5       6  92.409222
6       7  92.422480
7       8  92.189479
8       9  92.408401
9      10  91.952946
10     11  92.580195
11     12  92.251415
    month      0
0       1  12797
1       2  11453
2       3  12819
3       4  11664
4       5  11476
5       6  13164
6       7  13087
7       8  12983
8       9  12975
9      10  12730
10     11  12482
11     12  12370
    month  amount
0       1    92.0
1       2    92.0
2       3    93.0
3       4    92.0
4       5    93.0
5       6    92.0
6       7    92.0
7       8    92.0
8       9    92.0
9      10    92.0
10     11    92.0
11     12    92.0

'\nGreat! As you can see, people tend to donate more during the holidays.\n'

In [1]:
# exercise 02

"""
The effect of seasonality

Assume you want to predict whether a candidate donor will donate next month. As predictive variable, you want to include the maximum gift of each donor in the previous month. As you learned in the video, the mean amount of the gifts in July and September are similar, but the gifts are fairly higher in December. In this exercise, you will see how this can influence the performance of your model.

The logistic regression model is created and fitted for you in logreg on the data in July.
"""

# Instructions

"""

    The test data for July is in test_july. Make predictions for the test data in July and calculate the AUC.
---
    The test data for September is in test_september. Make predictions for the test data in September and calculate the AUC.
---
    The test data for December is in test_december. Make predictions for the test data in December and calculate the AUC.

"""

# solution

# AUC of model in July:
predictions = logreg.predict_proba(test_july[["age", "max_amount"]])[:,1]
auc = roc_auc_score(test_july["target"], predictions)
print(auc)

#----------------------------------#

# AUC of model in September:
predictions = logreg.predict_proba(test_september[["age", "max_amount"]])[:,1]
auc = roc_auc_score(test_september["target"], predictions)
print(auc)

#----------------------------------#

# AUC of model in December:
predictions = logreg.predict_proba(test_december[["age", "max_amount"]])[:,1]
auc = roc_auc_score(test_december["target"], predictions)
print(auc)

#----------------------------------#

# Conclusion

"""
Well done! A model constructed using the data in July, will have about the same test AUC in July as in September, but the AUC will decrease if the model is used in December.
"""

'\n\n'

In [2]:
# exercise 03

"""
Target values

Assume you want to predict which donors will donate more than 100 Euro next month. In order to obtain a basetable that is large enough, you use two snapshots: one snapshot with target period April 2018 and one with target period May 2018. Given is a donor that made a donation of 130 Euro in April 2018 and 90 Euro in May 2018.

Which statement is correct?
"""

# Instructions

"""
The donor appears twice in the basetable, with target value 0.


The donor appears twice in the basetable, once with target value 0 and once with target value 1. (Answer)


The donor appears twice in the basetable, with target value 1.


The donor appears once in the basetable, with target value 1.
"""

# solution



#----------------------------------#

# Conclusion

"""

"""

'\n\n'

In [9]:
gifts_january_2017 = pd.read_csv(path_data+'gifts_january_2017.csv')
gifts_january_2018 = pd.read_csv(path_data+'gifts_january_2018.csv')
display(gifts_january_2017.head(), gifts_january_2018.head())

   gift_id  donor_id  amount        date
0       14      4165   516.0  2017-01-21
1      187      9071   167.0  2017-01-04
2      282     30982   537.0  2017-01-08
3      304     28534   224.0  2017-01-18
4      325     30828   949.0  2017-01-18

   gift_id  donor_id  amount        date
0      230     67391    48.0  2018-01-09
1      232     36500   199.0  2018-01-03
2      259     52772   961.0  2018-01-16
3      267     18373   458.0  2018-01-22
4      280      1934    75.0  2018-01-11

In [13]:
basetable_january_2017 = pd.read_csv(path_data+'basetable_january_2017.csv')
basetable_january_2018 = pd.read_csv(path_data+'basetable_january_2018.csv')

In [14]:
# exercise 04

"""
Calculating snapshot targets

Assume you want to predict who will make large donations, i.e. 500 Euro or more, in January 2019. As January is a very specific month, it is better to only use January snapshots. In order to obtain enough data, you want to include two snapshots, namely January 2018 and January 2017. In this exercise you will learn how to calculate the target values for these different snapshots.
"""

# Instructions

"""

    gifts_january_2017 and gifts_january_2018 contain gifts made in January 2017 and January 2018 respectively. Calculate the sum of donations in the target periods of both snapshots for each donor.
---

    Create two lists with target donors in January 2017 and January 2018.
---

    basetable_january_2017 and basetable_january_2018 contain the populations of both snapshots. Add to each basetable a column "target" that is 1 if the donor is target and 0 otherwise.
---

    Calculate and compare the target incidence of both basetables.

"""

# solution

# Sum of donations for each donor
gifts_summed_january_2017 = gifts_january_2017.groupby("donor_id")["amount"].sum().reset_index()
gifts_summed_january_2018 = gifts_january_2018.groupby("donor_id")["amount"].sum().reset_index()

# List with targets in January 2017
targets_january_2017 = list(gifts_summed_january_2017["donor_id"][gifts_summed_january_2017["amount"] >= 500])
targets_january_2018 = list(gifts_summed_january_2018["donor_id"][gifts_summed_january_2018["amount"] >= 500])

# Add targets to the basetables
basetable_january_2017["target"] = pd.Series([1 if donor_id in targets_january_2017 else 0 for donor_id in basetable_january_2017["donor_id"]])
basetable_january_2018["target"] = pd.Series([1 if donor_id in targets_january_2018 else 0 for donor_id in basetable_january_2018["donor_id"]])

# Target incidences
print(round(sum(basetable_january_2017["target"]) / len(basetable_january_2017), 2))
print(round(sum(basetable_january_2018["target"]) / len(basetable_january_2018), 2))

#----------------------------------#

# Conclusion

"""
Great job! Observe that the target incidences are similar as they should be.
"""

0.01
0.02

'\nGreat job! Observe that the target incidences are similar as they should be.\n'

In [4]:
# exercise 05

"""
Calculating aggregated variables

In the previous exercise you constructed two basetables corresponding with two snapshots, and added the target values to these basetables. In this exercise, you will learn how to add aggregated variables. You will add the sum of donations last month (December 2016 and December 2017 for the respective snapshots) to both basetables.
"""

# Instructions

"""

    gifts_december_2016 contains all donations made in December 2016. For each donor, calculate the maximum donation made.
    gifts_december_2017 contains all donations made in December 2017. For each donor, calculate the maximum donation made.

---

    Add the variable "max_amount" to the basetable with target period January 2017 given in basetable_january_2017.
    Add the variable "max_amount" to the basetable with target period January 2018 given in basetable_january_2018.

"""

# solution

# Maximum of donations for each donor in december 2016
gifts_max_december_2016 = gifts_december_2016.groupby("donor_id")["amount"].max().reset_index()
gifts_max_december_2016.columns = ["donor_id", "max_amount"]

# Maximum of donations for each donor in december 2017
gifts_max_december_2017 = gifts_december_2017.groupby("donor_id")["amount"].max().reset_index()
gifts_max_december_2017.columns = ["donor_id", "max_amount"]

# Add max_amount to the basetables
basetable_january_2017 = pd.merge(basetable_january_2017, gifts_max_december_2016, on="donor_id", how="left")
basetable_january_2018 = pd.merge(basetable_january_2018, gifts_max_december_2017, on="donor_id", how="left")

# Show the basetables
print(basetable_january_2017.head())
print(basetable_january_2018.head())

#----------------------------------#

# Conclusion

"""
Great! You added one variable to the basetables. Similarly, you can add various other variables like minimum donation, mean donation, sum of donations and so on.
"""

'\n\n'

In [5]:
# exercise 06

"""
Stacking basetables

In the previous exercise you constructed two basetables basetable_january_2017 and basetable_january_2018 that correspond to two snapshots with target periods January 2017 and January 2018, respectively. In order to have enough data, another snapshot is added, resulting in basetable_january_2016. In this exercise, you will learn to construct the final basetable by stacking the basetables, and verify that there are enough observations in it.
"""

# Instructions

"""

    Construct a basetable by adding basetable_january_2017 to basetable_january_2016.
    Add basetable_january_2018 to basetable.
    Print the number of observations in the final basetable.

"""

# solution

# Add basetable_january_2017 to basetable_january_2016
basetable = basetable_january_2016.append(basetable_january_2017)

# Add basetable_january_2018 to basetable
basetable = basetable.append(basetable_january_2018)

# Number of observations in the final basetable
print(len(basetable))

#----------------------------------#

# Conclusion

"""
Well done! Using 3 snapshots, you obtain a basetable with about 20 000 observations.
"""

'\n\n'

In [15]:
# exercise 07

"""
Events during the timegap

Assume you want to construct a predictive model to predict who will make a donation of at least 10 Euro in June 2019. The timeline reconstructed in history is as follows, the timegap is at May 2018. A donor made a donation on May 2nd 2018.

To which goal can this donation be used?
"""

# Instructions

"""
To construct the candidate predictors


To construct the target value


To construct the candidate predictors and the target value.


This donation cannot be used with this timeline. (Answer)
"""

# solution



#----------------------------------#

# Conclusion

"""
Indeed! Events that happen during the timegap cannot be used.
"""

'\nIndeed! Events that happen during the timegap cannot be used.\n'

In [23]:
gifts = pd.read_csv(path_data+'gifts.csv', index_col=0, parse_dates=['date'], date_format="%Y-%m-%d")
gifts.rename(columns={'id':'donor_id'}, inplace=True)
basetable = pd.read_csv(path_data+'basetable_ch04.csv')

display(gifts.head(), basetable.head())

   donor_id       date  amount
0         1 2015-10-16    75.0
1         1 2014-02-11   111.0
2         1 2012-03-28    93.0
3         1 2013-12-13   113.0
4         1 2012-01-10    93.0

   donor_id  target
0     48149       0
1     72234       1
2       392       1
3     39614       1
4     66454       1

In [24]:
# exercise 08

"""
Calculating aggregated variables with timegap

Assume you want to construct a predictive model to predict which donors will make a donation of at least 10 Euro during the next month. The timeline is given below, there is a timegap of one month. In this exercise, you will learn how to add a variable "mean_donation_last_month" to the basetable.


"""

# Instructions

"""

    Fill out the start (April 1st 2018) and end date (May 1st 2018) of the period on which the predictive variable "mean_donation_last_month" is calculated.
---

    All donations ever made are in gifts. Assign gifts made during that period to gifts_last_month.
---

    Calculate the mean gift made last month for each donor in gifts_last_month.
---

    Add the variable "mean_donation_last_month" to the basetable that already contains "donor_id" and "target".

"""

# solution
from datetime import datetime

# Start and end date of last month
start_date = datetime(2018, 4, 1)
end_date = datetime(2018, 5, 1)

# Gifts made last month
gifts_last_month = gifts[(gifts["date"] >= start_date) & (gifts["date"] < end_date)]

# Mean gift made last month
gifts_last_month_mean = gifts_last_month.groupby("donor_id")["amount"].mean().reset_index()
gifts_last_month_mean.columns = ["donor_id", "mean_donation_last_month"]

# Add mean_donation_last_month to the basetable
basetable = pd.merge(basetable, gifts_last_month_mean, on="donor_id", how="left")
print(basetable.head(10))

#----------------------------------#

# Conclusion

"""
Great! As you can see, many of the donors did not make a donation last month. Next step would be to fill out the missing values with 0 for these donors.
"""

   donor_id  target  mean_donation_last_month
0     48149       0                       NaN
1     72234       1                       NaN
2       392       1                       NaN
3     39614       1                       NaN
4     66454       1                       NaN
5     74778       0                       NaN
6     79767       1                       NaN
7     34717       1                       NaN
8     21008       0                       NaN
9     25354       0                       NaN

'\nGreat! As you can see, many of the donors did not make a donation last month. Next step would be to fill out the missing values with 0 for these donors.\n'

In [26]:
basetable = pd.read_csv(path_data+'basetable_ch02-01.csv', parse_dates=['date_of_birth'], date_format="%Y-%m-%d")
basetable.head()

   donor_id date_of_birth
0     98305    1992-02-12
1         1    1961-10-02
2     65539    1996-05-09
3     98308    1921-07-01
4     98309    1912-03-15

In [27]:
def calculate_age(date_of_birth, reference_date):
    age = reference_date.year - date_of_birth.year
    if ((date_of_birth.month > reference_date.month) | 
        ((date_of_birth.month == reference_date.month) &
         (date_of_birth.day > reference_date.day))):
        age = age - 1
    return(age)

In [28]:
# exercise 09

"""
Adding age with timegap

The basetable of previous exercise is given. The timeline is given below, there is a timegap of one month. In this exercise, you will learn how to add the age of the donors to the basetable, compliant with the timeline.


"""

# Instructions

"""

    Fill out the reference date on which the age should be calculated, this is the start date of the timegap.
    Add a column "age" to the basetable that is the age of the donor on the reference date. The function calculate_age has been implemented for you. It takes date_of_birth and reference_date as arguments.
    Print the mean age of all donors.

"""

# solution

# Reference date
reference_date = datetime(2018, 5, 1)

# Add age to the basetable
basetable["age"] = (pd.Series([calculate_age(date_of_birth, reference_date)
                              for date_of_birth in basetable["date_of_birth"]]))

# Calculate mean age
print(round(basetable["age"].mean()))

#----------------------------------#

# Conclusion

"""
Great! When calculating the age, the reference date should indeed be the first day of the timegap.
"""

63

'\nGreat! When calculating the age, the reference date should indeed be the first day of the timegap.\n'